@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

body{
    background-color: #fdf2f8;
    font-family: 'Open Sans', sans-serif;
}


:root{
--plus-color: #5eead4;
--minus-color: #E52B50;

}

.outer{
    text-align: center;
}

.btn, #btn-edit{
    display: inline-block;
    box-shadow: 1px -1px #e9d5ff;
}

#btn-edit{
    background-color: #2d8edf;
    /* vertical-align: middle; */
}

#btn-plus{
background-color: var(--plus-color);
font-size: 30em;
width: 45%;
height: 40%;
margin-left:0.05 em;

}

#btn-minus{
    background-color:var(--minus-color);
    font-size: 30em;
    width: 45%;
    height: 40%;
    margin-right:0.05 em;
}

#section-page{
min-height: 100vh;
text-align: center;
}


#counter-name, #count{
    display: inline-block;
    font-size: 3vw;
}

#counter-name{
    margin-right: 0.5em;
}
#log{
    position: absolute;
}

#input-name{
    text-align: center;
    margin: 0.15em;
    font-family: 'Open Sans', sans-serif;
    font-size: 2vw;
}


